.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 10vh;
  background-color: aqua;
  color:black;
}
.nav-links{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  list-style: none;
 }